@import '_mixin.scss';
@import '_variables.scss';

.about {

    height: 50vh;
    position: relative;
    background-color: #ff3838;

    .about-content {
        @include center-transform;

        h1 {
            @include h1-properties;
        }

        p {
            text-align: justify;
            font-size: 25px;
        }
    }

}

// MEDIA FOR PORTRAIT
@media (max-width: 1024px) {
    .about {
        height: 60vh;
    }
}

@media (max-width: 768px) {
    .about {
        .about-content {
            h1 {
                font-size: 50px;
            }

            p {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 425px) and (orientation: portrait) {
    .about {


        .about-content {
            h1 {
                font-size: 40px;
                padding: 10px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}

//MEDIA FOR LANDSCAPE
@media (max-width: 1024px) and (orientation: landscape) {
    .about {
        height: 60vh;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .about {
        height: 70vh;
    }
}