@import '_mixin.scss';
@import '_variables.scss';

.blog {
    background-color: #c56cf0;
    margin: 0;
    padding: 80px 0;

    h1 {
        @include h1-properties;
    }

    .container {
        .row {
            div {
                height: 40vh;
                position: relative;
                margin-bottom: 25px;

                a {
                    text-decoration: none;
                    color: black;

                    .blog-div {
                        @include div-for-blog;


                        h1 {
                            @include h1-for-blog;
                            z-index: 10;
                        }

                        p {
                            font-size: $p-blog-font-size;
                        }

                        img {
                            transition: $transition-for-blog;
                        }

                        &:hover img {
                            transform: scale(1.2);
                        }

                        .overlay {
                            @include overlay-for-blog;

                            p {
                                @include center-transform;
                                @include p-for-blog;
                            }

                            // button {
                            //     @include button-for-blog;
                            //     transition: .2s all;

                            //     &:hover {
                            //         background-color: white;
                            //         color: black;
                            //     }
                            // }
                        }

                        &:hover .overlay {
                            height: 100%;
                        }
                    }



                }
            }
        }
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    .blog {
        .container {
            .row {
                div {
                    height: 30vh;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .blog {
        .container {
            .row {
                div {
                    height: 40vh;
                }
            }
        }
    }
}


@media (max-width: 500px) {
    .blog {
        .container {
            .row {
                div {
                    height: 50vh;
                }
            }
        }
    }
}

//LANDSCAPE
@media (max-width: 1024px) and (orientation: landscape) {
    .blog {
        .container {
            .row {
                div {
                    height: 40vh;
                }
            }
        }
    }
}


@media (max-width: 900px) and (orientation: landscape) {
    .blog {
        .container {
            .row {
                div {
                    height: 80vh;

                }
            }
        }
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    .blog {
        .container {
            .row {
                div {
                    height: 40vh;
                    width: 50vw;
                    margin: 0 auto;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .blog {
        .container {
            .row {
                div {
                    height: 80vh;
                }
            }
        }
    }
}