@import '_mixin.scss';
@import '_variables.scss';

.blog {
    background-color: #c56cf0;
    margin: 0;
    padding: 0;

    h1 {
        @include h1-properties;
    }

    .container {
        .row {
            div {
                height: 40vh;
                position: relative;
                margin-bottom: 25px;

                a {
                    text-decoration: none;
                    color: black;

                    .blog-div {
                        @include div-for-blog;


                        h1 {
                            @include h1-for-blog;
                            z-index: 10;
                        }

                        p {
                            font-size: $p-blog-font-size;
                        }

                        img {
                            transition: $transition-for-blog;
                        }

                        &:hover img {
                            transform: scale(1.2);
                        }

                        .overlay {
                            @include overlay-for-blog;

                            p {
                                @include center-transform;
                                @include p-for-blog;
                            }

                            button {
                                @include button-for-blog;
                                transition: .2s all;

                                &:hover {
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }

                        &:hover .overlay {
                            height: 100%;
                        }
                    }

                    .first {}

                    // .second {
                    //     @include div-for-blog;

                    //     img {
                    //         transition: $transition-for-blog;

                    //     }

                    //     h1 {
                    //         @include h1-for-blog;
                    //     }

                    //     p {
                    //         font-size: $p-blog-font-size;
                    //     }

                    //     &:hover img {
                    //         transform: scale(1.2);
                    //     }
                    // }
                }
            }
        }
    }
}