@import '_mixin.scss';
@import '_variables.scss';

footer {
    height: 10vh;
    clear: both;
    background-color: #3ae374;
    position: relative;

    .footer-content {
        @include center-transform;

        h1 {
            font-size: 50px;
        }
    }

}