@import '_mixin.scss';
@import '_variables.scss';

.navigation {
    background-color: transparent !important;
    position: fixed;
    width: 100%;

    &.active {
        background-color: rgba(0, 0, 0, .8) !important;

    }

    a {

        img {
            border-radius: 50%;
            width: 70px;
            margin-right: 10px;
        }

        span {
            &.span-active {
                color: white;
            }
        }
    }

    div {


        ul {
            li {
                margin: 0 30px;
                font-size: 25px;

                a {
                    color: black !important;

                    &.active-a {
                        color: white !important;
                    }
                }
            }
        }
    }
}