@import '_mixin.scss';
@import '_variables.scss';

.navigation {
    background-color: transparent !important;
    position: fixed;
    width: 100%;
    transition: .3s all;

    &.active-border {
        div {
            ul {
                li {
                    a {
                        &::before {
                            border-color: white;
                        }
                    }
                }
            }
        }
    }

    &.active {
        background-color: rgba(0, 0, 0, .8) !important;

    }

    a {


        img {
            border-radius: 50%;
            width: 70px;
            margin-right: 10px;
        }

        span {
            color: black !important;
            transition: .3s all;

            &.span-active {
                color: white !important;
            }
        }
    }

    button {
        color: black !important;
    }

    div {


        ul {
            li {
                margin: 0 30px;
                font-size: 25px;


                a {
                    color: black !important;
                    transition: .3s all;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        border-bottom: 2px solid black;
                        transition: .2s all;
                    }

                    &:hover::before {
                        width: 100%;
                    }

                    &.active-a {
                        color: white !important;
                    }

                }
            }
        }
    }
}

@media (max-width: 991px) {
    .navigation {
        button {
            background-color: rgba(0, 0, 0, .2);
        }
    }
}