@import '_mixin.scss';
@import '_variables.scss';

.navigation {
    background-color: transparent !important;
    position: fixed;
    width: 100%;

    a {

        img {
            border-radius: 50%;
            width: 70px;
            margin-right: 10px;
        }
    }

    div {


        ul {
            li {
                margin: 0 30px;
                font-size: 25px;

                a {
                    color: black !important;
                }
            }
        }
    }
}

.black {
    background-color: black;
}