@import '_mixin.scss';
@import '_variables.scss';

.projects {
    background-color: #3b3939;
    padding: 80px 0 25px;
    text-align: center;
    color: white;

    h1 {
        @include h1-properties;


        &:nth-of-type(2) {
            font-size: 35px;

            i {
                color: white;
                padding-left: 20px;
            }
        }
    }



    .container {


        .row {
            .slide-in {
                &.slide-in-project {
                    animation: slide .4s;

                    &:nth-of-type(2) {
                        animation: slide .8s;
                    }

                    &:nth-of-type(3) {
                        animation: slide 1.2s;
                    }
                }
            }

            .project-div {
                height: 40vh;
                margin-bottom: 25px;
                background: url(asets/images/project1.jpg) center no-repeat;
                background-size: cover;
                border-radius: 10px;
                box-shadow: 0 0 50px #1a1818;
                position: relative;
                overflow: hidden;

                .description {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 30%;
                    background-color: rgba(0, 0, 0, .8);
                    width: 100%;
                    text-align: center;
                    color: white;

                    h1 {
                        position: absolute;
                        width: 100%;
                        top: -5%;

                        font-size: 30px;
                    }

                    a {
                        width: 100%;

                        button {
                            width: 60%;
                            position: absolute;
                            left: 50%;
                            bottom: 10%;
                            border-radius: 5px;
                            border: none;
                            border: 2px solid white;
                            color: white;
                            background-color: transparent;
                            padding: 5px;
                            cursor: pointer;
                            transform: translateX(-50%);
                            transition: .3s all;

                            &:hover {
                                color: black;
                                background-color: white;
                            }
                        }
                    }
                }

            }

        }
    }
}

// KEYFRAMES
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1024px) {
    .projects {
        .container {
            .row {
                .project-div {
                    height: 25vh;

                    .description {
                        h1 {
                            top: -10%;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .projects {
        .container {
            .row {
                .project-div {
                    height: 35vh;

                    .description {
                        h1 {
                            top: -10%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .projects {
        .container {
            .row {
                .project-div {
                    height: 45vh;

                    .description {
                        h1 {
                            top: -10%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .projects {
        .container {
            .row {
                .project-div {
                    height: 45vh;

                    .description {
                        h1 {
                            top: -15%;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}

// LANDSCAPE
@media (max-width: 1024px) and (orientation: landscape) {
    .projects {
        .container {
            .row {
                .project-div {
                    height: 40vh;

                    .description {


                        h1 {
                            top: -15%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 823px) and (orientation: landscape) {
    .projects {
        .container {
            .row {
                .project-div {
                    height: 70vh;
                    width: 35vw;
                    margin: 0 auto;
                    margin-bottom: 10px;

                    .description {
                        h1 {
                            top: -20%;
                            font-size: 25px;
                        }

                        a {
                            button {
                                padding: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 736px) and (orientation: landscape) {
    .projects {
        .container {
            .row {
                .project-div {
                    height: 70vh;
                    width: 50vw;
                    margin: 0 auto;
                    margin-bottom: 10px;

                    .description {
                        h1 {
                            top: -10%;
                            font-size: 25px;
                        }

                        a {
                            button {
                                padding: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .projects {
        .container {
            .row {
                .project-div {
                    height: 70vh;
                    width: 50vw;
                    margin: 0 auto;
                    margin-bottom: 10px;

                    .description {
                        h1 {
                            top: -15%;
                            font-size: 25px;
                        }

                        a {
                            button {
                                padding: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 568px) and (orientation: landscape) {
    .projects {
        .container {
            .row {
                .project-div {
                    height: 70vh;
                    width: 50vw;
                    margin: 0 auto;
                    margin-bottom: 10px;

                    .description {
                        h1 {
                            top: -20%;
                            font-size: 20px;
                        }

                        a {
                            button {
                                padding: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}