@import '_nav.scss';
@import '_header.scss';
@import '_about.scss';
@import '_blog.scss';
@import '_projects.scss';
@import '_footer.scss';

//https://flatuicolors.com/palette/tr
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 100%;
    margin: 0 auto;
}

// body {
//     margin: 0;
//     min-height: 100vh;
//     min-width: 100%;
// }

// main {
//     margin: 0;
//     min-height: 100vh;
//     min-width: 100%;
//     display: flex;
//     /*enables flex content for its children*/
// background-color: #4b4b4b;


// }

// .container {
//     margin-top: 0.2em;
//     height: 100%;
//     flex-direction: column;
//     align-content: space-around;
// }

// #Posts {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-around;
// }

// #Sidebar {
//     flex-direction: column;
//     color: white;
//     background-color: $background;
//     padding-left: 8px;
//     padding-right: 8px;
// }

// #Projects {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-around;
// }

// .post {
//     .title {
//         margin: 0;
//         padding: 5px;
//         text-align: center;
//         font-family: 'Roboto Condensed', sans-serif;
//         font-size: 32px;
//         transition: font-size 0.5s;
//     }

//     .content {
//         padding: 5px;
//         margin-top: 5px;
//     }

//     .time {
//         padding: 5px;
//         text-align: right;
//     }

//     color:#3d3d3d;
//     width: 300px;
//     /* Or whatever */
//     height:300px;
//     /* Or whatever */
//     text-decoration: none;
//     margin-bottom: 1.2em;
//     filter: drop-shadow(2px 2px 0.1em #ffcccc);
//     background-color: #ffcccc;
// }

// .post:hover {
//     .title {
//         font-size: 36px;
//     }
// }

// .post:visited {
//     .title {
//         color: #4b4b4b;
//     }
// }

// .prof {
//     height: 100px;
//     border-radius: 50px;
//     display: block;
//     margin-top: 5px;
//     margin-left: auto;
//     margin-right: auto;
//     transition: filter 0.2s;

// }

// .prof:hover {
//     filter: drop-shadow(0 0 0.35rem #7f8fa6);
// }

// .name {
//     font-family: 'Spicy Rice', cursive;
//     font-size: 34px;
//     margin: 0;
//     margin-top: 5px;
//     text-align: center;
// }

// .underName {
//     text-align: center;
//     margin: 0;
//     color: #ff9f1a;
//     padding-bottom: 5px;
//     border-bottom: 10px dashed #4b4b4b;
// }

// .list {
//     padding: 0;
//     list-style: none;
//     text-align: center;
//     margin-left: 5px;
//     margin-right: 5px;

//     li {
//         position: relative;
//         padding: 15px 0;

//         .a {
//             color: #fff;
//             text-transform: uppercase;
//             text-decoration: none;
//             letter-spacing: 0.15em;

//             display: inline-block;
//             padding: 15px 5px;
//             position: relative;
//         }
//     }

//     .a:after {
//         background: #18dcff;
//         content: '';
//         position: absolute;
//         width: 0;
//         height: 3px;
//         display: block;
//         margin-top: 5px;
//         right: 0;
//         transition: width .3s cubic-bezier(.68, -0.55, .27, 1.55);
//     }

//     .a:hover:after {
//         width: 100%;
//         left: 0;
//     }
// }

// .copyright {
//     position: fixed;
//     bottom: 0;
//     float: right;
//     font-size: 12px;
// }