*{
    font-family: 'Gill Sans', sans-serif;
}
.post{
    .title{
        font-size: 24px;
    }
    .content{
        margin-top: 5px;
    }
    .time{
        text-align: right;
    }
    width: 100%;
    text-decoration: none;
    background-color: $color;
    transition: background-color 1s, height 2s, width 1s;
    margin-top: 5px;
}
a{
        text-decoration: none;
}
.post:hover{
    width: 102%;
}
.container{
    width: 60%;
    margin: auto;
}