*{
    font-family: 'Gill Sans', sans-serif;
}
.post{
    .title{
        font-size: 24px;
    transition: font-size 0.5s;
    }
    .content{
        margin-top: 5px;
    }
    .time{
        text-align: right;
    }
    width: 100%;
    text-decoration: none;
    border-top: 1px solid rgb(124, 9, 255);
    background-color: black;
}
a{
        text-decoration: none;
}
.post:hover{
    .title{
        font-size: 32px;
    }
}
#Posts{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#Sidebar{
    width: 200px;
    flex-direction: column;
    color: white;
}
body{
    background: url('asets/curls.png');
    height: 100%;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
}