<!DOCTYPE html>
<html>
   {%include '_head.html'%}
   <body>
      {%include '_nav.html'%}
      <header>
         <div class="text">
            <h1>Simple Portfolio CMS</h1>
            <p>As simple as possible</p>
         </div>
      </header>
      <main>
         <section class="blog-section">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-9 col-sm-12 blog-post">
                     <h1>Początki programowania z php</h1>
                     <p>Autor: Jan Kowalski</p>
                     <p> Data: 2019-01-02</p>
                     <div class="blog-image">
                     </div>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae a iste tenetur iusto officiis debitis accusantium dicta magni labore dolorum accusamus sunt laudantium alias expedita molestias consequatur, ipsam adipisci ab unde? Quidem doloremque non minus obcaecati placeat, deleniti libero! Sit commodi, possimus quisquam vel obcaecati beatae hic quia rerum nemo asperiores quod ea, amet soluta deserunt consequatur maiores dolores veniam nihil, ab totam. Rem officiis vel distinctio doloremque a debitis dicta inventore porro repellendus ipsum blanditiis consectetur, amet voluptatem similique exercitationem quisquam! Modi earum hic, velit optio veniam consequuntur, enim eaque maiores eius ullam, eligendi blanditiis explicabo nostrum sint laboriosam!</p>
                  </div>
                  <div class="col-md-3 col-sm-12 latest-post-section">
                     <div class="latest-post">
                        <h1>Latest Posts</h1>
                        <ul>
                           <li><a href="#" target="_blank">Poczatki PHP</a></li>
                           <li><a href="#" target="_blank">Poczatki PHP</a></li>
                           <li><a href="#" target="_blank">Poczatki PHP</a></li>
                           <li><a href="#" target="_blank">Poczatki PHP</a></li>
                           <li><a href="#" target="_blank">Poczatki PHP</a></li>
                        </ul>
                     </div>
                     <div class="tags-post">
                        <h1>Tags</h1>
                        <p>#php, #php, #php, #php, #php, #php, #php,</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>
      <!-- FOOTER -->
   
      <!-- BOOTSTRAP FILES -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <!-- MY SCRIPTS -->
      <script src="menuscroll.js"></script>
   </body>
</html>