@import '_mixin.scss';
@import '_variables.scss';

header {
    height: 100vh;
<<<<<<< HEAD:Style/scss/_header.scss
    background: url('Style/images/hero-image.jpg') center no-repeat;
=======
    background: url(Assets/images/hero-image.jpg) center no-repeat;
>>>>>>> 3beb22acf559222d423148a6f85afd5d50c61c10:Style/scss/_header.scss
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: white;

    .text {
        position: absolute;
        top: 40%;
        right: 10%;

        h1 {
            font-size: 70px;
        }

        p {
            font-size: 40px;
        }
    }
}



@media (max-width: 768px) {
    header {
        .text {



            h1 {
                font-size: 60px;
            }

            p {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 640px) {
    header {
        .text {
            left: 10%;
            color: white;

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 20px;
            }
        }
    }
}

//LANDSCAPE 
@media (max-width: 1024px) and (orientation: landscape) {
    header {
        .text {
            text-align: right;

            h1 {
                font-size: 60px;
            }

            p {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    header {
        .text {
            text-align: right;
            color: white;

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 20px;
            }
        }
    }
}