@mixin center-transform {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin h1-properties {
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 60px;
}

@mixin h1-for-blog {
    font-size: 20px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@mixin div-for-blog {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 50px gray;
    box-shadow: 0 0 50px gray;
    position: relative;
    overflow: hidden;
}

@mixin p-for-blog {
    color: white;
    font-size: 20px;
    width: 80%;
}

@mixin button-for-blog {
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: none;
    border: 2px solid white;
    cursor: pointer;
    width: 50%;
    font-size: 20px;
}

@mixin overlay-for-blog {
    position: absolute;
    bottom: -25px;
    left: 0;
    background-color: blue;
    height: 0;
    width: 100%;
    -webkit-transition: .4s all;
    transition: .4s all;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
}